---
---

@import "{{ site.theme }}";

// Global

$spacing-unit: 30px !default;
$grey-color-alt: lighten(#828282, 45%) !default;
$mycolor: #6c0404;
$mycolor-alt:  #f8f6f6;
//$mycolor-alt: lighten($mycolor, 65%) !default;
$blue-color: #2073f8;

.spacer {
  display: block;
  width: 33%;
  height: 0;
  margin: $spacing-unit auto;
  border-top: 1px solid $grey-color-light;
}

// Home

.home .intro {
  display: flex;
  flex-wrap: wrap;

  .column {
    padding: 0 $spacing-unit;
    box-sizing: border-box;
  }

  .left {
    flex: 1 1 35%;
  }

  .right {
    flex: 1 1 65%;
  }

  #jap_photo {
    display: block;
    width: 300px;
    margin: 0 auto;
    border-radius: 50%;
  }
}

@media (max-width: 800px) {
  .home .intro {
    .column {
      padding: 0;
    }
    .left,
    .right {
      flex: 1 1 100%;
    }
    .right {
      margin-top: $spacing-unit;
    }
    #jap_photo {
      width: 200px;
    }
  }
}

body {
  font-family: 'Inter', sans-serif;
  color: #222;
}

h1, h2, h3, h4, h5 {
  font-family: 'Georgia', serif;
  color: $mycolor;
}

.site-title {
 // font-family: 'Playfair Display', serif;
font-family: 'Georgia', serif; 
 color: $mycolor;
}

.site-header {
  background-color: $grey-color-alt; 
}

.site-header a {
  color:$mycolor;
}

.site-footer {
  background: $mycolor-alt;
  color: #ffffff;
}
